<!--TODO: HIGH PRIORITY: move this stuff on proper JS-->
<!--This is to avoid "Partial View - Render Scripts" complication (at least for now)-->

<!--I want to use this 'brutal' approch, in order to see how AngularJS can make life easiery (if really so)-->
<template id="lookupResultTemplate">
    <span class="dropdown-item" onclick="setNationality(this)"
          data-fifa="#FIFA">#Name</span>
</template>

<script>

    //equivalent to jQuery(document).ready(...)
    document.addEventListener("DOMContentLoaded", function () {

        $('#Nationality').on('keyup', lookupCountries)
    });

    function lookupCountries() {

        if (event.target.value === "") {
            return;
        }

        $.ajax({

            url: SETTINGS.CountryAPI.CountryAPI_Lookup + event.target.value,

            type: 'GET',
            success: function (data) {
                populateResults(data);
            },
            error: function (response) {

            }
        })
    }

    function populateResults(data) {

        $('#nationality-dropdown').html("");

        for (var i in data) {

            var spanHtml = document.querySelector('#lookupResultTemplate').innerHTML;

            spanHtml = spanHtml.replace(/#Name/g, data[i].Name);
            spanHtml = spanHtml.replace(/#FIFA/g, data[i].FIFA);

            $('#nationality-dropdown').append(spanHtml);
        }

        $('#nationality-dropdown').addClass("show");
    }

    function setNationality(e) {

        $('#Nationality').val(e.innerText);
        $('#NationalityFIFA').val(e.getAttribute("data-fifa"));

        $('#nationality-dropdown').removeClass("show");
    }

</script>
