.vs
*.user
PublishProfiles
packages
obj
bin
Migrations

SQL
FootballTeams/FootballTeams.Web/Content/vendor
FootballTeams/FootballTeams.Web/Views/Shared/_GA.cshtml
FootballTeams/FootballTeams.Web/Views/Vdd/_MapScript.cshtml
