.vs
*.user
PublishProfiles
packages
obj
bin
Migrations

SQL
FootballTeams/FootballTeams.Web/Content/vendor
FootballTeams/FootballTeams.Web/App_Data/FootballTeams_VDD_Map.pdf
FootballTeams/FootballTeams.Web/Views/Shared/_GA.cshtml
