
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron mt-3 pt-5">
    <h1>Welcome to Football Teams</h1>

    <p>
        <strong><a href="https://cyberzenno.wordpress.com/2020/02/28/football-teams" target="_blank">Football Teams</a></strong> is an exercise with the aim to put together <br>
        <strong>As Simple As Possible</strong> examples in an AspNet MVC Application, for the following concepts and practices:
    </p>


    <ul>

        <li>
            Bootstrap 4 Design – <b><a href="https://football-teams.bss.design/" target="_blank">View Design App</a></b><br>
        </li>

        <li>
            Agile Practices – <b><a href="https://trello.com/b/l73YaarH/football-teams" target="_blank" aria-label="View Board (opens in a new tab)">View Board</a></b><br>
        </li>

        <li>
            Visual Driven Development® – <b><a href="https://development.cyberzenno.com/football-teams/vdd/map" target="_blank">View Map</a></b><br>
        </li>

        <li>
            Clean Code – <b><a href="https://github.com/cyberzenno/football-teams" target="_blank" aria-label=" (opens in a new tab)">View Code</a></b><br>
        </li>

    </ul>


    <hr />

    <ul>
        <li>
            Domain, Data and Generic Repository Pattern<br>
        </li>

        <li>
            Dependency Injection
        </li>

        <li>
            Unit Tests and Mocking<br>
        </li>

        <li>
            Integration Tests<br>
        </li>
    </ul>

    <hr />

    <ul>
        <li>
            Authentication and Authorization<br>
        </li>

        <li>
            Auto Mapping<br>
        </li>

        <li>
            Cleaner and Simpler Model Data Binding<br>
        </li>
    </ul>

    <hr />

    <ul>
        <li>
            Introducing Angular JS<br>
        </li>

        <li>
            Introducing WebAPI<br>
        </li>
    </ul>

</div>



