/*@font-face {*/
/*    font-family: "DIN Next LT";*/
/*    src: url("Fonts/5563259/1cac8696-f5f7-4ddf-9a6b-abb03ca2d47a.eot?#iefix");*/
/*    src: url("Fonts/5563259/1cac8696-f5f7-4ddf-9a6b-abb03ca2d47a.eot?#iefix") format("eot"), url("Fonts/5563259/cb14adc6-1bc6-47a0-b9af-56f4f57ce88c.woff2") format("woff2"), url("Fonts/5563259/ceb1ed49-6217-4033-bbf7-eb5a26b31062.woff") format("woff"), url("Fonts/5563259/9ebb78cf-aaba-4f44-bc4f-50be25ec22f5.ttf") format("truetype");*/
/*    font-weight: 200;*/
/*}*/
/*@font-face {*/
/*    font-family: "DIN Next LT";*/
/*    src: url("Fonts/5563265/a6252bbf-68ff-4398-bf61-614f0c4fb493.eot?#iefix");*/
/*    src: url("Fonts/5563265/a6252bbf-68ff-4398-bf61-614f0c4fb493.eot?#iefix") format("eot"), url("Fonts/5563265/e936e749-1f24-4a56-bc8c-ed51e431d1df.woff2") format("woff2"), url("Fonts/5563265/f0e8da23-89f4-4ecb-a900-131630beb4ba.woff") format("woff"), url("Fonts/5563265/0a406b85-0e30-4cde-9eb3-ede8277b2d02.ttf") format("truetype");*/
/*    font-style: italic;*/
/*    font-weight: 200;*/
/*}*/
@font-face {
    font-family: "DIN Next LT";
    src: url("Fonts/5563271/66cca6f6-c31d-4bbf-a2a7-998a38ca2ed9.eot?#iefix");
    src: url("Fonts/5563271/66cca6f6-c31d-4bbf-a2a7-998a38ca2ed9.eot?#iefix") format("eot"), url("Fonts/5563271/e492fdb2-9629-4064-a3cd-1233d2a65d11.woff2") format("woff2"), url("Fonts/5563271/5a230e3e-b354-4bab-863d-9b460a28ddb3.woff") format("woff"), url("Fonts/5563271/8dc3bf1f-1bc6-4fcc-9f28-cd3c3f6d13fd.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "DIN Next LT";
    src: url("Fonts/5563277/3e7407c1-4e0e-4461-92cc-37c830da8632.eot?#iefix");
    src: url("Fonts/5563277/3e7407c1-4e0e-4461-92cc-37c830da8632.eot?#iefix") format("eot"), url("Fonts/5563277/1b7cef2a-edb1-4379-b7de-75739772130d.woff2") format("woff2"), url("Fonts/5563277/9cd11a15-0a12-4785-bd0c-3e130dbc283c.woff") format("woff"), url("Fonts/5563277/22a7e29d-e666-4727-96f1-a8a7f339c08e.ttf") format("truetype");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "DIN Next LT";
    src: url("Fonts/5563042/49246907-8813-4cfe-84dc-28103a57b07f.eot?#iefix");
    src: url("Fonts/5563042/49246907-8813-4cfe-84dc-28103a57b07f.eot?#iefix") format("eot"), url("Fonts/5563042/8df454bc-0c75-47e7-8966-c7367f1710c8.woff2") format("woff2"), url("Fonts/5563042/52e2969a-646c-4c17-ba69-49112a741c97.woff") format("woff"), url("Fonts/5563042/6aa11345-10ac-45d0-a3e7-f4f3fb7fdc27.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "DIN Next LT";
    src: url("Fonts/5563048/f479c9ae-5822-41b9-bf2d-15cd3e369548.eot?#iefix");
    src: url("Fonts/5563048/f479c9ae-5822-41b9-bf2d-15cd3e369548.eot?#iefix") format("eot"), url("Fonts/5563048/36d86bb7-897e-4dfc-9e1d-3a4a8b634d27.woff2") format("woff2"), url("Fonts/5563048/1bccd075-b50c-4f60-a695-6f41f9eddcd7.woff") format("woff"), url("Fonts/5563048/2852dd65-49e3-4048-a3e0-74a10ee4e194.ttf") format("truetype");
    font-style: italic;
    font-weight: 400;
}
@font-face {
    font-family: "DIN Next LT";
    src: url("Fonts/5563054/923e62a3-4b49-4936-be63-4b4aac020c3d.eot?#iefix");
    src: url("Fonts/5563054/923e62a3-4b49-4936-be63-4b4aac020c3d.eot?#iefix") format("eot"), url("Fonts/5563054/d0906a1a-ec28-414d-887a-145c1fd3d589.woff2") format("woff2"), url("Fonts/5563054/f60b43f8-137d-4ea8-9e9e-d6b0c6cea0d3.woff") format("woff"), url("Fonts/5563054/52dbdc11-b6b1-484e-85e0-7c58dc187df3.ttf") format("truetype");
    font-weight: 700;
}
@font-face {
    font-family: "DIN Next LT";
    src: url("Fonts/5563060/457214a7-565a-4979-b84a-330a50075db6.eot?#iefix");
    src: url("Fonts/5563060/457214a7-565a-4979-b84a-330a50075db6.eot?#iefix") format("eot"), url("Fonts/5563060/d501717d-ecfb-419c-a287-5bca5cdad236.woff2") format("woff2"), url("Fonts/5563060/6ae10d6c-5554-472a-a52c-cf36d4ed691a.woff") format("woff"), url("Fonts/5563060/1d1c264d-0f1d-4bcc-be13-a219f58c2bb4.ttf") format("truetype");
    font-style: italic;
    font-weight: 700;
}
/*@font-face {*/
/*    font-family: "DIN Next LT";*/
/*    src: url("Fonts/5563066/116adaaf-6080-4d10-a546-75dba9dbe4c3.eot?#iefix");*/
/*    src: url("Fonts/5563066/116adaaf-6080-4d10-a546-75dba9dbe4c3.eot?#iefix") format("eot"), url("Fonts/5563066/f79f0591-15eb-48d1-bb1d-e4fae364e5b7.woff2") format("woff2"), url("Fonts/5563066/51778b35-3d6c-4590-9a77-272b26a6f2f9.woff") format("woff"), url("Fonts/5563066/7db39426-b6ea-4064-9969-e2dcb79a8d0e.ttf") format("truetype");*/
/*    font-weight: 700;*/
/*}*/
/*@font-face {*/
/*    font-family: "DIN Next LT";*/
/*    src: url("Fonts/5563072/ab77ea5c-0f7a-488c-904a-80568a603721.eot?#iefix");*/
/*    src: url("Fonts/5563072/ab77ea5c-0f7a-488c-904a-80568a603721.eot?#iefix") format("eot"), url("Fonts/5563072/4c472794-d6e4-464b-a112-bdb3442e2a28.woff2") format("woff2"), url("Fonts/5563072/ee0f0168-2e3a-4e7a-8099-802e33f070b2.woff") format("woff"), url("Fonts/5563072/e40a1c46-93f6-4275-90f3-3b5ce520e6b3.ttf") format("truetype");*/
/*    font-style: italic;*/
/*    font-weight: 700;*/
/*}*/
/*@font-face {*/
/*    font-family: "DIN Next LT";*/
/*    src: url("Fonts/5563078/720aced4-ad71-4e41-bac3-facf222b4287.eot?#iefix");*/
/*    src: url("Fonts/5563078/720aced4-ad71-4e41-bac3-facf222b4287.eot?#iefix") format("eot"), url("Fonts/5563078/a1d7c129-02e1-4c27-adc7-4c4c73e46622.woff2") format("woff2"), url("Fonts/5563078/ec6003d7-d10a-4706-b19b-0db6005f87a3.woff") format("woff"), url("Fonts/5563078/2a22c714-0bef-47d0-8792-b090e3358076.ttf") format("truetype");*/
/*    font-weight: 900;*/
/*}*/
/*@font-face {*/
/*    font-family: "DIN Next LT W04 Heavy Italic";*/
/*    src: url("Fonts/5563084/ae26aa0d-84b4-40bc-8446-a8aee48a1ff4.eot?#iefix");*/
/*    src: url("Fonts/5563084/ae26aa0d-84b4-40bc-8446-a8aee48a1ff4.eot?#iefix") format("eot"), url("Fonts/5563084/33462d86-252b-461e-bb55-01eb270f5f25.woff2") format("woff2"), url("Fonts/5563084/ed8b2fbf-d34e-4347-b9ee-554469d4d9d7.woff") format("woff"), url("Fonts/5563084/a657417b-1a18-4977-9359-29f9d0f3b268.ttf") format("truetype");*/
/*    font-style: italic;*/
/*    font-weight: 900;*/
/*}*/