@using FootballTeams.Web.Models.ViewModels;
@model FootballTeams.Web.Models.ViewModels.TeamMemberViewModel
@{
    ViewBag.Title = "Register Player";
}

<form method="post" action="@Url.Action("Register")">

    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-md-6">
            <h1>Register Player</h1>

            <div class="form-group">
                <label>Fullname</label>
                <input class="form-control" type="text" placeholder="Fullname" name="Fullname">
            </div>
            <div class="form-group">
                <label>Nationality</label>
                <input class="form-control" type="text" placeholder="Nationality" name="Nationality">
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <input class="form-control" type="date" name="DateOfBirth">
            </div>

            <button class="btn btn-info" type="submit">Save</button>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <h1>Team</h1>
                <label>Please select the team to join (wip)</label>
                <select class="form-control" name="TeamId">

                    <option value="">No Team</option>

                    @foreach (TeamViewModel team in ViewBag.AvailableTeams)
                    {
                        <option value="@team.Id">@team.Name</option>
                    }

                </select>
            </div>
            <div class="form-group">
                <label>Position</label>

                <select class="form-control" name="Position">
                    <option value="0" selected>None</option>
                    <option value="1">Goalkeeper</option>
                    <option value="2">Defender</option>
                    <option value="3">Midfielder</option>
                    <option value="4">Forward</option>
                </select>


            </div>
        </div>
    </div>

</form>

