
@{
    ViewBag.Title = "Visual Driven Development® Map";
}

<h2>Visual Driven Development<span style="color: #ccc">®</span> Map</h2>
<p>
    <small> Visual Driven Development® is an attempt to represent and eventually build software, <b>visually</b>.</small><br /><br />
    <b>Click on the map</b> below see Football Teams <b>interactive visual representation</b>.
</p>

@{ 
    Html.RenderPartial("_MapScript");
}